	<div class= "pad"></div>
	</div>
	</body>
	<footer>
		<p>Tutor Exchange Website is a product of the Computer Science Club at Evergreen Valley College</p>
		<p>We are a group of passionate software developers with different backgrounds in software development ranging from scripting to web development.</p>
		<p>Contact us at: <a href="mailto:computerscienceclub.evc@gmail.com?subject=Mail from Tutor_Exchange Site" style="color:white">computerscienceclub.evc@gmail.com</a> </p>
		<p class="followUs" >
			<a style="color:white"href= "https://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a style="color:white"href= "https://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a style="color:white"href= "https://plus.google.com"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
		</p>
	</footer>
	
	
	<script>
var a2a_config = a2a_config || {};
a2a_config.color_main = "009b56";
a2a_config.color_border = "42403d";
a2a_config.color_link_text = "333333";
a2a_config.color_link_text_hover = "fff";
a2a_config.color_arrow_hover = "fff";
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src = "/javascript/main.js"></script>
		
</html>