<% include ./partials/header %> 
 <header class="jumbotron" id="indexJumbotron">
         <div class="container" style = "max-width: 1000px; width: 100%; color: black; 	
                 text-shadow: 0px 0px 30px rgba(255, 255, 255, 1),
                              0px 0px 30px rgba(255, 255, 255, 0.8),
                              0px 0px 20px rgba(255, 255, 255, 0.6);" >
             <h2>Computer Science Club of EVC</h2>
             <p>Founded in 2017</p>
             
             
         </div>
     </header>
     
    
<div class="media" style="margin-top:10px;max-width:800px; margin: auto; margin-bottom:25px">
   <center> 
   <h1 style="margin-bottom: 5vh; margin-top: 5vh">About the Club</h1>
   </center>
   <p>We are a small group of aspiring Software Developers who are eager to gain industry experience by applying Computer Science concepts we learned in our classes to real world applications.
</p>
    <p style="margin-bottom:5vh">The Computer Science Club provides an environment where aspiring software developers can learn about different technologies and career concentrations outside of the

Computer Science classrooms.</p>

</div>


<% include ./partials/footer %> 