<% include ./partials/header %> 
 <header class="jumbotron" id="indexJumbotron">
         <div class="container" style = "max-width: 1000px; width: 100%; color: black; 	
                 text-shadow: 0px 0px 30px rgba(255, 255, 255, 1),
                              0px 0px 30px rgba(255, 255, 255, 0.8),
                              0px 0px 20px rgba(255, 255, 255, 0.6);" >
             <h2>Contact Us</h2>
             <p>Computer Science Club</p>
         </div>
     </header>
     
     <center>
<div class="media" style="margin-top:55px; max-width:800px">
    <center>
        <div>
            <h2 style="margin-top:5vh">Have any suggestions or concerns about our work? </h2>
            <p>Let us know through email at</p></p>
            <p style="margin-bottom:5vh"><a href="mailto:computerscienceclub.evc@gmail.com?Subject=Mail From Tutor Site">computerscienceclub.evc@gmail.com</a>
            </p>
        </div>
    </center>
</div>
</center>

<% include ./partials/footer %> 