<% include ./partials/header %> 
 <header class="jumbotron" id="indexJumbotron">
         <div class="container" style = "max-width: 1000px; width: 100%; color: black; 	
                 text-shadow: 0px 0px 30px rgba(255, 255, 255, 1),
                              0px 0px 30px rgba(255, 255, 255, 0.8),
                              0px 0px 20px rgba(255, 255, 255, 0.6);" >
             <h2>FAQs</h2>
             <p>Computer Science Club</p>
         </div>
     </header>
     
<div class="center">
    <center>
        
        <div class="media" style="margin-top:10px; margin-bottom: 25px; max-width:800px">
        <br>
        <h3>How does the site work?</h3>
        <p>After creating an account, you can create a post and look for a tutor who would be willing to help you one on one.<br>When somone replies to your post, you can coordinate with that person on when and where you would like to meet up.</p>
        <br>
        </div>
        
        <div class="media" style="margin-top:10px;margin-bottom: 25px; max-width:800px">
        <br>
        <h3>How much will this cost me?</h3>
        <p>It's free and will always be free!</p>
        <br>
        </div>
        
        <div class="media" style="margin-top:10px;margin-bottom: 25px; max-width:800px">
        <br>
        <h2>Who can join?</h2>
        <p>Any student from Evergreen Valley College.</p>
        <br>
        </div>
        
         <div class="media" style="margin-top:10px;margin-bottom: 25px; max-width:800px">
        <br>
        <h3>Who do I contact if I have a problem or any questions</h3>
        <p>You may contact us by email at</p>
        <p style="margin-bottom:5vh"><a href="mailto:computerscienceclub.evc@gmail.com?Subject=Mail From Tutor Site">computerscienceclub.evc@gmail.com</a>

        <br>
        </div>

    </center>

</div>

<% include ./partials/footer %> 