<% include ../partials/header %> 
<h2 style="text-align: center; margin-bottom: 20px">Add A New Post!</h2>

<form style = "max-width: 600px; width: 90%; margin: 0 auto;"action="/posts" method="POST">
  <div class="form-group">
      <input type="text" name="title" placeholder="Enter title" required class="form-control">
  </div>  
  <div class="form-group">
      <label for="subject">Choose subject: &nbsp</label>
      <select name = "subject" required>
        <option value="" ></option>
        <option value="Math" >Math</option>
        <option value="English" >English</option>
        <option value="Physics" >Physics</option>
        <option value="ComputerScience" >Computer Science</option>
        <option value="Psychology" >Psychology</option>
        <option value="Art" >Art</option>
        <option value="Other">Other</option>
      </select>
  </div>  
  <div class="form-group">
        <textarea rows="8" class="form-control"  name="content" placeholder="Enter your post here." required></textarea> 
  </div> 

  <div class="form-group">
      <button class="btn btn-primary btn-large form-control">Submit</button>
  </div>

</form>




<% include ../partials/footer %> 